body {
	color: #fff;
	background-color: #F9C6C4;
}


.hello-pro {
	color: #fff;
}


.top-pro {
	background-color: #FE938C;
}

.btn-pro-plan {
	background-color: #FF5146;
}

.btn-pro-plan:hover, .btn-pro-fact:hover {
	background-color: #b51c14;
}

.btn-pro-fact {
	background-color: #FFB2AE;
	margin-right: 10px;
}



.kids {
	background-color: #FF817B;
}


.access {
	background-color: #FF2015;
}

.access:hover {
	background-color: #b51c14;
}


/* ============================================ PLANNING ============================================ */
.link-modify-planning {
	text-decoration: none;
	/* text-align: center; */
	color: #fff;
}

.text-align {
	text-align: center;
}

.box_planning {
	display: flex;
	justify-content: center;
	align-items: center;
}

.legend-planning {
	width: 15px;
	height: 15px;
	margin: 5px;
	border-radius: 20px
}

.red-planning {
	background-color: red;
}

.green-planning {
	background-color: green;
}

.orange-planning {
	background-color: #ffa24f;
}

.border-style-planning {
	border: 1px solid #F9C6C4
}


.body-planning {
	padding: 100px 0;
}

#nombreCase {
	width: 100%;
	border: none;
	background-color: #ff000000;
	font-size: inherit;
}

#planningBody {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	color: black;
	font-size: 20px;
	justify-content: center;
}

.dayCol {
	width: 123px;
	height: 28px;
	border: none;
	margin: 3px;
	background-color: #ffffff70;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 8px;
	box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

.dayCol a {
	text-decoration: none;
	color: grey;
	justify-content: center;

}

.SemaineN {
	background-color: #ffffff;
	border: none;
	text-align: center;
	font-size: 85%;
}


.dayCase {
	background-color: #ff7a7a;
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 65%;
	color: white;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.legend_box {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

/* ======================================= CSS TABLEAU DES ENFANTS ======================================= */
strong {
	font-weight: bold;
}

em {
	font-style: italic;
}




.div-center {
	display: flex;
	justify-content: center;
	color: #fff;
}

.table_div {
	overflow-x: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 150px 0 35px 0;
	padding: 30px 0;
	width: 100%;
	height: auto;
	background-color: transparent;
	border-radius: 15px;
}

#payement_table {
	width: 100%;
	height: 100%;
	/* line-height: 25px; */
	margin: 35px auto;
	text-align: center;
	color: black;
	font-size: 15px;
	background-color: #fff;
	box-shadow: 0 1px 22px -12px #101413;
}

.dataTables_wrapper {
	width: 85%;
}


/* table { */
/* width: 90%; */
/* font-size: 13px; */
/* line-height: 24px; */
/* margin: 30px auto; */
/* text-align: left; */
/* color: black; */
/* } */

th {
	color: #fff;
	font-weight: bold;
	/* position: relative; */
	background-color: #ff9595;
	padding: 10px;
}

/* td { */
/* color: rgb(0, 0, 0);
	text-shadow: 0 1px 0 #fff; */
/* transition: all 300ms;
	background-color: #e2e2e2;
	text-align: center; */
/* } */


/* tr:nth-child(odd) td {
	background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
} */

/* 
tbody:hover td {
	color: transparent;
	text-shadow: 0 0 1px #aaa;
} */

/* tbody:hover tr:hover td {
	color: rgb(0, 0, 0);
	text-shadow: 0 1px 0 #fff;
} */

/* facture */
#invoice {
	background-color: #ffffff;
	color: #000;
	padding: 3px;
	border-radius: 3px;
	margin-top: 60px;
}

.input-facture {
	border: none;
	width: 341px;
	background-color: #fe948c00;
}

#creche-client {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#creche-facture {
	display: flex;
	flex-direction: column;
}

#table-facture {
	width: 70%;
}

#table-facture th {
	color: #fff;
	font-weight: bold;
	background-color: #ff9595;
	width: 0%;
}

#table-facture th {
	padding: 0px;
	text-align: center;
}

.btn-pdf {
	display: flex;
	justify-content: center;
}

#downloadPdf {
	padding: 10px 15px;
	margin: 25px 0 40px 0;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
	/* color: #ff9551; */
	font-weight: bold;
}

/* ============================== RESPONSIVE ============================== */

@media screen and (max-width: 1024px) {
	.table_div {
		width: 95%;
	}

	.img-middle-right {
		width: 60%;
	}

	.img_parents {
		width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.box_planning {
		display: flex;
		flex-direction: column;
	}

	.table_div {
		width: 85%;
	}

	.tab .dataTables_wrapper {
		width: 100%;
	}

}

@media screen and (max-width: 300px) {
	.input-facture {
		border: none;
		width: 270px;
	}
}