/* ============================= MON ESPACE PARENTS ============================= */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

.content-body {
  padding-bottom: 70px;
}


.top-empty {
  width: 100%;
  height: 130px;
}

.mini-title {
  margin-bottom: -30px;
}

.hello {
  font-size: 50px;
}

.mini-text {
  font-size: 20px;
  margin-bottom: 50px;
}

.top-espaces {
  display: flex;
  justify-content: space-between;
  padding: 60px 20px;
}

.top-left-espaces {
  margin: 0 30px;
}

.btn-espaces {
  display: flex;
  justify-content: space-evenly;
}

.btn-top-espaces {
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-espaces-margin {
  margin-right: 10px;
}

.img-top-right {
  width: 55%;
}

.img-top {
  width: 95%;
}

.middle-espaces {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px 0;
}

.kids {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 276px;
  height: 380px;
  border-radius: 45px;
  padding: 25px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-card {
  font-size: 20px;
}

.access {
  margin-top: 25px;
  padding: 20px 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 80%;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.link-btn {
  width: 60%;
}

.img-title-card {
  width: 55%;
}


/* ============================= ICONS ============================= */

.fi {
  font-size: 20px;
  margin: 0 10px;
}


/* ============================= RESPONSIVE ESPACE PARENTS ============================= */
@media screen and (max-width: 1280px) {}

@media screen and (max-width: 380px) {

  .hello {
    font-size: 40px;
  }

  .mini-title {
    margin-bottom: -15px;
  }

  .mini-text {
    font-size: 19px;
  }

  .btn-espaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-top-right {
    display: none;
  }

  .middle-espaces {
    display: flex;
    flex-wrap: wrap;
  }

  .btn-espaces-margin {
    margin-bottom: 30px;
  }

  .kids {
    margin-top: 50px;
  }
}

@media screen and (max-width: 300px) {
  .mini-title {
    font-size: 13px;
    margin-bottom: 0px;
  }

  .hello {
    font-size: 24px;
  }

  .mini-text {
    font-size: 17px;
  }

  .btn-top-espaces {
    padding: 15px 10px;
  }

  .fi {
    font-size: 14px;
    margin: 0 10px;
  }

  /* .fi-pro {
    display: none;
  } */

  .kids {
    width: 235px;
    height: 356px;
  }


  .access {
    margin-top: 29px;
    padding: 13px 0px;
    font-size: 0.7rem;
  }
}