body {
  color: #fff;
  background-color: #F9C6C4;
}


.hello-pro {
  color: #fff;
}


.top-pro {
  background-color: #FE938C;
}

.btn-pro-plan {
  background-color: #FF5146;
}

.btn-pro-plan:hover, .btn-pro-fact:hover {
	background-color: #b51c14;
}

.btn-pro-fact {
	background-color: #FFB2AE;
	margin-right: 10px;
}



.kids {
  background-color: #FF817B;
}


.access {
  background-color: #FF2015;
}

.access:hover{
	background-color: #b51c14;
}


/* PLANNING */

#days {
	position: absolute;
	left: 10.3%;
	top: 40%; /*10%*/
	min-width: 630px;
	width: 79.5%;
	height: 23%;
	border-bottom: 4px solid #ff944d;
	transition: top 2s;
}
#title {
	position: absolute;
	left: 10.3%;
	top: 30%; /*0%*/
	text-align: center;
	min-width: 667px;
	width: 79.5%;
	min-height: 55px;
	height: 10%;
	transition: top 2s;
	background: #ff944d;
	font-family: 'Quicksand', sans-serif;
	font-size: 55px;
	letter-spacing: 10px;
	color: #fff;
}
.test {
  width: 90px;
  height: 100px;
  background: #fff;
  border: none;
  transition: -webkit-transform 0.5s, box-shadow 0.5s, background 0.5s, color 0.5s;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  color: black;
}
.test:hover {
	-webkit-transform: scale(1.3);
	box-shadow: 0px 0px 20px #000;
	background: #ff944d;
	color: white;
}
.test:active {
	background: #cc5200;
}
.testCur {
	width: 90px;
	height: 100px;
	background: #ff651a;
	border: none;
	transition: -webkit-transform 0.5s, box-shadow 0.5s, background 0.5s, color 0.5s;
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	text-align: center;
	cursor: pointer;
	color: white;
}
.testCur:hover {
	-webkit-transform: scale(1.3);
	box-shadow: 0px 0px 20px #000;
	background: #ff651a;
	color: white;
}
.testCur:active {
	background: #cc5200;
}
.test2 {
	min-width: 90px;
	width: 14.28%;
	height: 30px;
	border: none;
	background: #ff944d;
	color: #fff;
	transition: -webkit-transform 0.5s, box-shadow 0.5s, background 0.5s;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
#modalBox {
	position: absolute;
	left: 10.3%;
	top: 30%; 
	min-width: 667px;
	width: 79.5%;
	height: 0%; /*40%*/
	background: #ff944d;
	transition: height 2s;
	border-radius: 40px;
	z-index: 2;
}
#number{
	position: absolute;
	left: 100px;
	top: 20px;
	font-size: 70px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	opacity: 0;
	transition: opacity 2s, left 3s;
}
#close {
	position: absolute;
	left: 92%;
	top: 20px;
	font-size: 60px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: opacity 2s, color 0.3s;
}
#close:hover {
	color: #ffc299;
}
#reminders {
	position: absolute;
	left: 31%;
	top: 100px;
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	cursor: pointer;
	opacity: 1;
	border-left: 3px solid #fff;
	display: none;
	transition: opacity 1s, top 3s;
}
#back {
	position: absolute;
	left: 3%;
	top: 26%;
	width: 25px;
	height: 25px;
	background: #ff944d;
	border: 3px solid #cc5200;
	border-radius: 50px;
	font-size: 7px;
	cursor: pointer;
	transition: background 0.2s, -webkit-transform 0.5s;
	z-index: 1;
}
#back:hover {
	-webkit-transform: scale(1.2);
}
#back:active {
	background: #ffc299;
}
#forward {
	position: absolute;
	left: 92%;
	top: 26%;
	width: 25px;
	height: 25px;
	background: #ff944d;
	border: 3px solid #cc5200;
	border-radius: 50px;
	cursor: pointer;
	transition: background 0.2s, -webkit-transform 0.5s;
	z-index: 1;
}
#forward:hover {
	-webkit-transform: scale(1.2);
}
#forward:active {
	background: #ffc299;
}
#month {
	position: relative;
	top: -60%;
	left: 2%;
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	color: #fff;
	z-index: 0;
}
.uncheck {
	list-style-type: circle;
	opacity: 1;
	transition: opacity 5s;
}
.uncheck:hover {
	list-style-type: disc;
	text-decoration: line-through;
}
.check {
	list-style-type: disc;
	text-decoration: line-through;
	opacity: 1;
	transition: opacity 5s;
}
.check:hover {
  text-decoration: none;
}

/* CSS tableau des enfants */
strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	width: 90%;
    font-size: 13px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    color: black;
}

th {
    color: #fff;
    font-weight: bold;
    position: relative;
    background-color: #ff9595;
	padding: 10px;
}

td {
    position: relative;
    transition: all 300ms;
	background-color: #e2e2e2;
	text-align: center;
}


tr:nth-child(odd) td {
	background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 1px #aaa;
}

tbody:hover tr:hover td {
	color: rgb(0, 0, 0);
	text-shadow: 0 1px 0 #fff;
}

/* facture */
#invoice{
	color: #000;
	padding: 3px;
	border-radius: 3px;
}
.input-facture {
    border: none;
    width: 341px;
	background-color:#fe948c00;
}

#creche-client {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#creche-facture {
    display: flex;
    flex-direction: column;
}
#table-facture{
	width: 70%;
}

#table-facture th {
    color: #fff;
    font-weight: bold;
    background-color: #ff9595;
    width: 0%;
}
#table-facture th {
	padding: 0px;
	text-align: center;
}
