/* ============================= CSS SAFIA ============================= */
/* ============================= MON ESPACE PARENTS ============================= */
body {
  background-color: #E4EAFF;
}

.hello-parents {
  color: #8B3EDF;
}

.top-parents {
  background-color: #C6D2FF;
}


.btn-parents-res {
  background-color: #3D63F3;
}

.btn-parents-res:hover {
  background-color: #2D19ED;
}

.btn-parents-kids {
  background-color: #A05BB6;
}

.btn-parents-kids:hover {
  background-color: #9915CD;
}


.kids {
  background-color: #B891E3;
  color: #fff;
}


.access {
  background-color: #8B3EDF;
}

.access:hover {
  background-color: #9915CD;
}




/* ============================= ADD KIDS ============================= */
.card-add-kids {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: #B891E3;
  width: 20%;
  border-radius: 45px;
  color: #fff;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
  margin-left: 2%;
}

.card-add-kids:hover {
  transform: scale(1.02);
}


.link-btn-kids-div {
  display: flex;
  justify-content: space-around;
}

.link-btn-kids {
  /* color: #fff; */
  text-decoration: none;
  font-weight: bold;
}


.vaccin {
  color: #dac20b;
}

.certificat {
  color: #027134;
}

.delete {
  color: #FF2015;
}

.modify {
  color: #3D63F3;
}


/* ============================= FORM ADD KIDS ============================= */

.input-inscription {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

/* modal */

.buttonPurple {
  appearance: none;
  background: #3D63F3;
  border-radius: 0.25em;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
}

.details-modal {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  left: 50%;
  max-width: 90%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

summary {
  display: flex;
  justify-content: center;
}

.details-modal-content {
  display: flex;
  justify-content: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

h4 {
  width: 100%;

  padding: 8px 15px;
}

textarea {
  resize: none;
  padding: 5px 10px;
  width: 85%;
}

.date-add-kids {
  width: 85%;
}

/* tableau des factures */

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.div-center {
  display: flex;
  justify-content: center;
  color: #fff;
}

.table_div {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 150px 0 35px 0;
  padding: 30px 0;
  width: 90%;
  height: auto;
  background-color: #C6D2FF;
border-radius: 15px;
}

#payement_table {
  width: 100%;
  height: 100%;
  line-height: 25px;
  margin: 35px auto;
  text-align: center;
  color: black;
  font-size: 15px;
  background-color: #fff;
  box-shadow: 0 1px 22px -12px #101413;
}

.dataTables_wrapper {
  width: 80%;
}

th {
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  background-color: #98adff;
}

td {
  transition: all 300ms;
  background-color: #e2e2e2;
  text-align: center;
}


tr:nth-child(odd) td {
  background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tbody:hover td {
  color: transparent;
  text-shadow: 0 0 1px #aaa;
}

tbody:hover tr:hover td {
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 0 #fff;
}

/* reservation */
.card-add-reservation {
  display: flex;
  flex-direction: column;
  background-color: #B891E3;
  width: 35%;
  border-radius: 45px;
  padding: 3%;
  margin: 3% auto 20px auto;
}

.continuer {
  /* margin-top: -6px; */
  padding: 17px 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 80%;
  font-weight: bold;
  width: 50%;
  cursor: pointer;
  background-color: #8B3EDF;
  display: flex;
  justify-content: center;
}


/* ============================= RESPONSIVE ESPACE PARENTS ============================= */

@media screen and (max-width: 380px) {

  .card-add-kids {
    width: 65%;
    margin-left: 0;
    padding: 0px 35px;
  }

  .details-modal-content {
    /* display: flex;
    justify-content: center; */
    width: 60%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 33px auto;
  }


}