/* ============================= MON PROFIL PARENTS ============================= */
body {
  background-color: #F9C6C4;
}

/* =========================== TOP PROFIL PARENTS =========================== */
.mail-parents {
  background-color: #b51c14;
}

/* =========================== MIDDLE PROFIL PARENTS =========================== */
.middle-parents{
  background-color: #FE938C;
}

/* =========================== BOTTOM PROFIL PARENTS =========================== */
.btn-color-light {
  background-color: #FFB2AE;
}

.btn-color-light:hover {
  background-color: #B95C56;
}

.btn-color-dark {
  background-color: #FF5146;
}

.btn-color-dark:hover {
  background-color: #b51c14;
}




.add-kids-display {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 100px 20px 0;
}

.kids {
  background-color: #FF5146;
}


.access {
  background-color: #FE938C;
}

.access:hover {
  background-color: #b51c14;
}

