/* ============================= MON PROFIL PARENTS ============================= */
body {
  background-color: #E4EAFF;
}

/* =========================== TOP PROFIL PARENTS =========================== */
.mail-parents {
  background-color: #2D19ED;
}

/* =========================== MIDDLE PROFIL PARENTS =========================== */
.middle-parents {
  background-color: #C6D2FF;
}

/* =========================== BOTTOM PROFIL PARENTS =========================== */
.btn-color-light {
  background-color: #B891E3;
}

.btn-color-light:hover {
  background-color: #a360ec;
}

.btn-color-dark {
  background-color: #8B3EDF;
}

.btn-color-dark:hover {
  background-color: #781bdd;
}

.kids {
  background-color: #B891E3;
}

.access {
  background-color: #8B3EDF;
}

.access:hover {
  background-color: #9915CD;
}

@media screen and (max-width: 380px) {
  .kids{
    color: #000 !important;
    background-color: #C6D2FF;
  }
}