html, body {
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR ET PAGE ACCUEIL */
.header {
    width: 100%;
    height: 50px;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-menu {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    justify-content: center;
    position: fixed;
    background-color: #ffffff;
    z-index: 1;
}

.nav-menu .logo {
    font-size: 29px;
    font-weight: 600;
    padding-left: 20px;
    color: rgb(255, 200, 0);
    padding-right: 20px;
}
.nav-menu .menu ul li a:hover{
    text-decoration-color: #ffc400;
}
.nav-menu .menu ul {
    list-style: none;
    display: flex;
    height: 100%;

}

.nav-menu .menu ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1em 1.5em;
    line-height: 1px;
    font-size: 15px;
    text-transform: uppercase;
}

.contenant {
    position: relative;
    text-align: center;
}

.texte_centrer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;


}
.section2{
    width:100%;
    display:flex;
    align-items:center;
    }
    
    .section2 section{
    width:100%;
    padding:2rem;
    }
    
    .section2 section img{
    width:100%;
    }
    
    .section2 section em{
    position:relative;
    top:20px;
    }
    
    .section2 section .title{
    font-size:2em;
    }
    
    @media (max-width:1080px){
    .section2 section .title{
    font-size:1.4em;
    }
    }
    
    @media (max-width:920px){
    .section2{
    flex-wrap:wrap;
    }
    .section2 section{
    padding:1rem;
    }
    .section2 section em{
    top:10px;
    }
    .section2 section img{
    display:none;
    }
    }
    
/*SECTION3*/
.section3{
    width:100%;
    display:flex;
    align-items:center;
    background-color: #ffffc3;
}
.container {
     min-height: 400px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     overflow: hidden;
     background-color: #ffffff;
    }
    
    .section3 section{
    width:100%;
    padding:2rem;
    }
    
    .section3 section em{
    position:relative;
    top:20px;
    }
    
    .section3 section .title{
    font-size:2em;
    }
    
    .section3 section img{
    width:100%;
    }
    
    @media (max-width:1080px){
    .section3 section .title{
    font-size:1.4em;
    }
    }
    
    @media (max-width:920px){
    .section3{
    flex-wrap:wrap;
    }
    .section3 section{
    padding:1rem;
    }
    .section3 section em{
    top:10px;
    }
    }
    
/* FOOTER */

.img-accueil {
    background-size: cover;
    width: 50%;

}

.section2 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

.section2 section {
    width: 100%;
    padding: 2rem;
}

.section2 section img {
    width: 100%;
}

.section2 section em {
    position: relative;
    top: 20px;
}

.section2 section .title {
    font-size: 2em;
}

@media (max-width:1080px) {
    .section2 section .title {
        font-size: 1.4em;
    }
}

@media (max-width:920px) {
    .section2 {
        flex-wrap: wrap;
    }

    .section2 section {
        padding: 1rem;
    }

    .section2 section em {
        top: 10px;
    }

    .section2 section img {
        display: none;
    }
}

/*SECTION3*/
.section3 {
    width: 100%;
    display: flex;
    align-items: center;
}

.section3 section {
    width: 100%;
    padding: 2rem;
}

.section3 section em {
    position: relative;
    top: 20px;
}

.section3 section .title {
    font-size: 2em;
}

.section3 section img {
    width: 100%;
}

@media (max-width:1080px) {
    .section3 section .title {
        font-size: 1.4em;
    }
}

footer#footer-2-cols div#copyright-information div#social-buttons i.fa:hover {
    color: #666666;
    transition: all 0.2s ease;
}
footer.site-footer {
    padding: 60px 30px;
    background: #f3c964;
    color: #000000;
    font-size: 10pt;
}

    .section3 section {
        padding: 1rem;
    }

    .section3 section em {
        top: 10px;
    }
}

/* FOOTER */
:root {
    --footer-bg: #B891E3;
    --color: #000000;
    --color-smooth: #9da2ae;
    --input-border: #3a456a;
    --btn-bg-color: #f1f2fc;
    --btn-hover-bg: #d5d9f6;
    --btn-color: #1e2641;
  }
  
  footer {
    font-size: 16px;
    background: var(--footer-bg);
    padding: 2em 4em;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
    font-family: "IBM Plex Sans", sans-serif;
  }
  
  footer ul {
    list-style: none;
  }
  
  .col {
    flex: 1;
  }
  
  .col-title {
    font-family: "Merriweather", serif;
    color: var(--color);
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.5em 0;
  }
  
  .col-list a {
    color: var(--color-smooth);
    text-decoration: none;
    line-height: 1.4;
    font-weight: 400;
  }
  
  .col-list a:hover,
  .col-list a:focus {
    text-decoration: underline;
  }
  
  .subscribe-form,
  .social-media {
    display: flex;
    gap: 0.5em;
    padding: 0.5em 0;
  }
  
  .subscribe-input {
    width: auto;
    flex: 1;
    background: transparent;
    border: 0.06em solid var(--input-border);
    font-size: 1em;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: var(--color-smooth);
  }
  
  .subscribe-input:focus {
    outline: none;
    border-color: var(--color);
    color: var(--color);
  }
  
  .subscribe-btn {
    background: var(--btn-bg-color);
    border: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: var(--btn-color);
    cursor: pointer;
  }
  
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background: var(--btn-hover-bg);
  }
  
  .form-title,
  .social-col-title {
    font-size: 1em;
    color: var(--color);
    font-weight: 500;
  }
  
  .social-media {
    flex-direction: column;
  }
  
  .social-media-list {
    display: flex;
    gap: 0.5rem;
  }
  
  .social-media-list a {
    padding: 0.5em;
    color: var(--color-smooth);
    display: flex;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
  }
  
  .social-media-list a:hover,
  .social-media-list a:focus {
    color: var(--color);
    background: #ffffff1a;
  }
  
  .social-media-list svg {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.25s ease 0s;
  }
  
  @media screen and (max-width: 750px) {
    footer {
      padding: 2em;
      flex-direction: column;
    }
  }
<<<<<<< Updated upstream
  
=======
  
   
  .rouge {
    width: 100%;
    height: 750px;
    margin: 0 auto;
    background-image: url(../img/enfant.png);
    background-size: cover;
}

.center-div {
    display: table;
    height: 700px;
    width: 100%;
    text-align: center;
}
#input-recherche {
    display: table-cell;
    vertical-align: middle;
}

/* search */


.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: none;
    border-right: none;
    padding: 8px;
    height: 28px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000000;
    background-color: #ffffff94;
}
.searchTerm:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  .searchTerm:focus{
    color: #000000;
  }
  
  .searchButton {
    width: 49px;
    height: 44px;
    border: none;
    background: #f3c964;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
>>>>>>> Stashed changes
