@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

/* Couleur site */
:root {
  --black: #000000;
  --violet: #DD06FF;
  --violet-light: #FF69FF;
  --pink-light: #FFEAFF;
  --grey-light: #eaeef7;
  --grey-deep: #6b82ac;
  --white-light: #fff5ff;
  --white-cream: #fef0e8;
  --white: #fff;
  --grey: #adbdcc;
  --blue-btn: #6C63FF;
  --blue-pro: #b8b4ff;
  --blue-primary: #0a2540;
  --blue-secondary: #00d4ff;
  --green: #8bff96;
  --red: #ff6b6b;
  --test-bg: #EDC9FF;
  --footer-bg: #FFFFC3;
  --footer-bg-hover: #ffff87;
}



/* ============================= NAVBAR ============================= */

/* nav {
  height: 4rem;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
} */

nav {
  height: 4rem;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  /* backdrop-filter: blur(10px); */
}

/*Styling logo*/

.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: #2d2d2d;
}

.nav-links li a:hover {
  color: #f3c964;
}

/* .nav-links li {
  position: relative;
} */

.nav-links li a::before {
  /* content: "";
  display: block;
  height: 0.2rem;
  width: 0%;
  background-color: #f3c964;
  position: absolute; */
  transition: all ease-in-out 250ms;
  /* margin: 0 0 0 10%; */
}

.nav-links li a:hover::before {
  width: 80%;
}

/*Styling Buttons*/
.login-button {
  background-color: transparent;
  border: 0.1rem solid #f3c964;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;

}

.login-button:hover {
  color: #131418;
  transition: all ease-in-out 350ms;
}

.join-button {
  color: #ffffff;
  background-color: #f3c964;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}

.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f3c964;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
  background-color: #f3c964;
}

.hamburger {
  display: none;
}



/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #f3c964;
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
  background-color: #f3c964;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: #f3c964;
}


/* ============================= END NAVBAR ============================= */

/* ============================= PAGE ACCUEIL ============================= */

/* =============== SEARCH ============= */

.img-header {
  width: 100%;
}

.img-header-bis {
  display: none;
}

.center-div {
  position: relative;
  text-align: center;
  color: var(--black);
}

#container3 {
  font-size: 36px;
}

p.title-accueil {
  display: none;
}

.text-input {
  display: none;
}

.btn-ins-accueil {
  display: none;
}

#flip {
  height: 60px;
  overflow: hidden;
}

#flip>div>div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #e8b80a;
}

#flip div:first-child div {
  background: #4ec7f3;
}

#flip div:last-child div {
  background: #f37777;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }

  5% {
    margin-top: -180px;
  }

  33% {
    margin-top: -180px;
  }

  38% {
    margin-top: -90px;
  }

  66% {
    margin-top: -90px;
  }

  71% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -270px;
  }
}

#input-recherche {
  display: table-cell;
  vertical-align: middle;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: none;
  border-right: none;
  padding: 8px;
  height: 28px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
  background-color: #ffffff94;
}

.searchTerm:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  width: 49px;
  height: 44px;
  border: none;
  background: #f3c964;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 22%;
  position: absolute;
  top: 36%;
  left: 21%;
  transform: translate(-50%, -50%);
}

.wrap2 {
  width: 26%;
  position: absolute;
  top: 34%;
  left: 79%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  background: #54463b5b;
  border-radius: 3px;
  font-size: 80%;
  margin-bottom: 10px;
}

.wrap3 {
  width: 25%;
  position: absolute;
  top: 46%;
  left: 79%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  background: #9c7c295b;
  border-radius: 3px;
  font-size: 80%;
}

.wrap-style {
  font-size: 100%;
  border-radius: 5px;
  padding: 2%;
}

.wrap4 {
  width: 33%;
  position: absolute;
  top: 78%;
  left: 51%;
  transform: translate(-50%, -50%);
  /* color: rgb(0 0 0); */
  border-radius: 3px;
  font-size: 80%;
}

h1.title-accueil {
  font-size: large;
  color: antiquewhite;
}

h1.title-accueil1 {
  font-size: large;
  color: black;
}

.bouton-accueil {
  background-color: #f3c964;
  width: 36%;
  font-size: 17px;
  color: #ffffff;
  border: none;
  border-radius: 18px;
  padding: 2%;
  cursor: pointer;
  font-weight: bold;
}

/* =============== END SEARCH ============= */

/* =============== ALL SECTION ============= */
.title {
  line-height: 2.7rem;
}

.text-accueil {
  text-align: justify;
}

/* =============== SECTION 2 ============= */

.section2 {
  width: 100%;
  display: flex;
  align-items: center;
}

.section2 section {
  width: 100%;
  padding: 2rem;
}

.section2 section img {
  width: 100%;
}

.section2 section em {
  position: relative;
  top: 20px;
  line-height: 2.5rem;
}

.section2 section .title {
  font-size: 2em;
}

/* =============== END SECTION 2 ============= */

/* =============== SECTION 3 ============= */

.section3 {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #FFE4E2;
}

.container-accueil-bottom {
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  text-align: justify;
}

.section3 section {
  width: 100%;
  padding: 2rem;
}

.section3 section em {
  position: relative;
  top: 10px;
}

/* .section3 section {
  padding: 1rem;
}

.section3 section em {
  top: 10px;
} */



.section3 section .title {
  font-size: 2em;
}

.section3 section img {
  width: 100%;
}

.text-middle-accueil {
  margin-right: 20px;
}

/* =============== END SECTION 3 ============= */


/* ============= TRUSTPILOT ============= */

.card-pilot {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.btn-accueil-pilot {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  background-color: var(--footer-bg);
}

.btn-accueil-pilot:hover {
  background-color: var(--footer-bg-hover);
}

/* ============= END TRUSTPILOT ============= */


/* ============================= CARD REVIEW ============================= */

.card-review {
  height: 370px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
}

.card {
  width: 20%;
  height: auto;
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background-color: #C6D2FF;
}

.wrapCard {
  width: 339px;
  height: auto;
}

.infoCard {
  width: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.detailInfo {
  line-height: 5px;
}

.contentCard {
  padding-top: 20px;
  line-height: 24.28px;
}

.showContent1 {
  display: none;
}

.showContent2 {
  display: none;
}

.showContent3 {
  display: none;
}

.contentCard a {
  color: #3D63F3;
  font-weight: bold;
  cursor: pointer;
}

.star-color {
  color: #3D63F3;
}

/* ============================= END CARD REVIEW ============================= */

/* ============================= FOOTER ============================= */

footer {
  margin-top: auto;
  font-size: 10%;
  background: var(--footer-bg);
  display: flex;
  align-items: start;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer ul {
  list-style: none;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* align-content: center; */
}


.img-footer {
  width: 17%;
}

.trait-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.trait {
  position: relative;
  top: 3px;
  width: 30%;
  height: 4px;
  background-color: #FE938C;
  margin: 0 10px;
}

.title-footer {
  font-size: 30px;
  color: #FE938C;
}

.fi-footer {
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
}

.fi-brands-facebook {
  color: #4267B2;
}

.fi-brands-linkedin {
  color: #0077B5;
}

.fi-brands-twitter {
  color: #00ACEE;
}

.fi-brands-instagram {
  color: #C13584;
}

.ul-footer {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 15px;
}

.link-footer-a {
  text-decoration: none;
  color: #000;
  margin: 0 10px;
}

.link-footer-a:hover {
  color: #f98d86;
}

.copy {
  font-size: 10px;
  color: #757575;
}



/* footer#footer-2-cols div#copyright-information div#social-buttons i.fa:hover {
  color: #666666;
  transition: all 0.2s ease;
} */

/* footer.site-footer {
  padding: 60px 30px;
  background: #f3c964;
  color: #000000;
  font-size: 10pt;
} */

/* ============================= END FOOTER ============================= */

/* ============================= END ACCUEIL ============================= */




/* ============================= RESPONSIVE SAFIA ============================= */


/* ====================== RESPONSIVE MENU ====================== */
/*Stying for small screens*/
@media screen and (max-width: 1300px) {
  #container3 {
    font-size: 1.7rem;
  }

  .wrap3 {
    top: 50%;
  }

  .wrap4 {
    width: 60%;
    padding: 1rem;
  }

  .card {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links li {
    font-size: 0.8rem;
  }

  .wrap3 {
    top: 55%;
  }

  #flip {
    height: 45px;
  }

  #container3 {
    font-size: 1.5rem;
  }

  .card {
    width: 24%;
  }
}



@media screen and (max-width: 830px) {
  nav {
    position: fixed;
    z-index: 3;
    top: 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    background: #ffffff;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    margin: 0px;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }

  .img-header {
    display: none;
  }

  .img-header-bis {
    display: block;
    width: 100%;
  }

  .wrap2, .wrap3, .wrap4 {
    display: none;
  }

  .section-img {
    display: none;
  }
}

/* @media screen and (max-width: 800px) {
 
} */

/* ====================== RESPONSIVE ACCUEIL ====================== */

@media screen and (max-width: 550px) {
  .logo img {
    width: 65%;
  }

  .hamburger div {
    background-color: #000000;
  }

  /* .img-header {
    display: none;
  }

  .img-header-bis {
    display: block;
    width: 100%;
  } */

  /* .tt-accueil-bg{
  
} */

  .wrap {
    width: 71%;
    top: 44%;
    left: 50%;
  }

  .searchTerm::placeholder {
    color: #000;
  }

.searchButton a{
  text-decoration: none;
}

  /* .bg-opacity{
    background-color: #00000052;
  } */
  h1.title-accueil,p.title-accueil {
    display: block;
    color: #fff;
    position: relative;
    top: -177px;
  }

  p.title-accueil {
    font-size: 15px;
    width: 79%;
    left: 11%;
  }

  .tt-accueil-bg {
    position: relative;
    top: 70px;
    background: rgba(0, 0, 0, 0.15);
    width: 360px;
    left: 19px;
    height: 254px;
    border-radius: 10px;
  }

  h1.title-accueil {
    font-size: 28px;
    color: #fff;
  }

  #container3 {
    font-size: 28px;
  }

  .text-input {
    display: block;
    font-size: 12px;
    color: #FFF;
  }

  .btn-ins-accueil {
    display: block;
    position: relative;
    top: 340px;
    left: 15%;
    padding: 20px 50px;
    border-radius: 10px;
    border: none;
    background-color: #e8b80a;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
  }

  .link-btn-ins-accueil {
    text-decoration: none;
  }

  .title {
    line-height: 1.5rem;
  }

  .text-top-accueil {
    margin-top: 30px;
  }

  .text-middle-accueil {
    margin-right: 0;
  }

  .em {
    font-size: 10px;
  }

  .section2 section .title, .section3 section .title {
    font-size: 15px;

  }

  .section2 section, .section3 section {
    padding: 1rem 2rem;
  }

  .section2 p, .section3 p {
    font-size: 1rem;
  }

  .card-review {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .card {
    width: 80%;
    margin: 10px 0;
  }

  .section-img {
    display: none;
  }

  .container-accueil-bottom {
    text-align: center;
  }


  .img-footer {
    width: 20%;
  }

  .trait {
    width: 20%;
  }

  .title-footer {
    font-size: 20px;
  }

  .ul-footer {
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 60px;
  }

  .margin-bottom-footer {
    margin-bottom: 10px;
  }

  .search{
    position: absolute;
    top: 103%;
  }
}

@media screen and (max-width: 400px) {
  .tt-accueil-bg {
    top: 67px;
    width: 290px;
  }

  .btn-ins-accueil {
    top: 160px;
  }
}

@media screen and (max-width: 300px) {
  .wrap {
    top: 35%;
    left: 50%;
  }

  .tt-accueil-bg {
    top: 204px;
    right: 23px;
    width: 244px;
  }

  h1.title-accueil, p.title-accueil {
    top: -55px;
  }

  p.title-accueil {
    font-size: 0.9rem;
  }

  #container3 {
    font-size: 20px;
  }


  .text-input {
    font-size: 10px;
  }

  .btn-ins-accueil {
    top: 88px;
    left: 10%;
  }



  .section2 p, .section3 p {
    font-size: 0.9rem;
  }



  .trait {
    width: 13%;
  }

  .title-footer {
    font-size: 22px;
  }

  .fi-footer {
    font-size: 25px;
  }

  .ul-footer {
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 26px;
  }
}




/* ====================== FIN RESPONSIVE ACCUEIL ====================== */

/* @media screen and (max-width: 1300px) {

  .ul-footer {
    font-size: 12px;
  }

  .wrap2 {
    top: 30%;
  }
} */


/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

#container3 {

  font-size: 36px;

}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip>div>div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #e8b80a;
}

#flip div:first-child div {
  background: #4ec7f3;
}

#flip div:last-child div {
  background: #f37777;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }

  5% {
    margin-top: -180px;
  }

  33% {
    margin-top: -180px;
  }

  38% {
    margin-top: -90px;
  }

  66% {
    margin-top: -90px;
  }

  71% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -270px;
  }
} */