html {
  /* background-color: #C6D2FF; */
  text-align: center;
}

.body-form {
  padding: 90px 0px;
}

/* .section-title-pro{
  background-color: #F9C6C4;
}*/
/* .section-title-parents{
  margin-bottom: 30px;
}  */

.body-pro {
  background-color: #FF817B;
}

.body-parents {
  background-color: #E4EAFF;
}

.inscription {
  background-color: #3D63F3;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  width: 100%;
  color: #ffff;
  cursor: pointer;
}

.input-inscription {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin: 10px 0px;
  width: 100%;
}


/* .form-ins-parents {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 23%;
  height: 350px;
  border-radius: 45px;
  color: #000000;
  padding: 25px;
} */

.link-co-ins {
  color: #8B3EDF;
  font-weight: bold;
  text-decoration: none;
}

.card-co {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 23%;
  height: 350px;
  border-radius: 45px;
  color: #000000;
  padding: 25px;
}

.card-co-parents {
  background-color: #C6D2FF;
}

.card-co-pro {
  background-color: #F9C6C4;
}

.co-space {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.img-co {
  width: 40%;
  margin-top: 30px;
}

/* .card-ins {
  width: 45%;
  height: auto;
  background-color: #C6D2FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  border-radius: 45px;
  text-align: center;
  height: 500px;
  padding: 20px 0;
} */

.ins-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-group-right {
  margin-right: 8rem;
}

.errors {
  margin-bottom: 20px;
}

/*
.errors-line{
  display: flex;
} */

.input-full-width {
  width: 30%;
  margin-bottom: 30px;
}