html {
  /* background-color: #C6D2FF; */
  text-align: center;
}

.body-form {
  padding: 30px 0px;
}

.section-title-pro{
  background-color: #F9C6C4;
}
.section-title-parents{
  background-color: #C6D2FF;
}

.body-pro {
  background-color: #F9C6C4;
}
.body-parents {
  background-color: #C6D2FF;
}

.inscription {
  background-color: #3D63F3;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  width: 15%;
  color: #ffff;
}

.input-inscription {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin: 10px 0px;
}

.link-co-ins {
  color: #8B3EDF;
  font-weight: bold;
  text-decoration: none;
}