html {
  /* background-color: #C6D2FF; */
  text-align: center;
}

.body-form {
  padding: 90px 0px;
}

/* .section-title-pro{
  background-color: #F9C6C4;
}
.section-title-parents{
  background-color: #C6D2FF;
} */

.body-pro {
  background-color: #FF817B;
}

.body-parents {
  background-color: #E4EAFF;
}

.inscription {
  background-color: #3D63F3;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  width: 100%;
  color: #ffff;
  cursor: pointer;
}

.input-inscription {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin: 10px 0px;
}

.link-co-ins {
  color: #8B3EDF;
  font-weight: bold;
  text-decoration: none;
}

.card-co {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 20%;
  height: 350px;
  border-radius: 45px;
  color: #000000;
  padding: 25px;
}

.card-co-parents {
  background-color: #C6D2FF;
}
.card-co-pro {
  background-color: #F9C6C4;
}

.co-space {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.img-co {
  width: 40%;
  margin-top: 30px;
}
